{% for Post in Model.Posts %}
<div class="post">
    <h2><a href="{{ Post.Path }}">{{ Post.Title }}</a></h2>    
    <div class="meta">
        <span class="date"><i class="fa fa-calendar"></i>{{ Post.Date }}</span>
        <span class="category"><i class="fa fa-tags"></i>{{ Post.Category }}</span>
    </div>
</div>
{% endfor %}