<html>
    <head>
        <title>{{ Model.Title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ Model.BasePath }}normalize.css">
    </head>
    <body>
        {{ Model.Body | raw }}
    </body>
</html>