{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,

    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
