{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false,

  "overrides": [
    {
      "files": [".prettierrc", "*.json", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
