.social {
    float: right;
}

.post .meta {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.post .meta span {
    margin-right: 0.6rem;
}

.post .meta span i {
    margin-right: 4px;
}

.clear {
    clear: both;
}