@media (min-width: 56rem) {
    .container {
        max-width: inherit;
        padding: 0 3.5rem;
    }
}

@media (min-width: 38rem){
    .container {
        max-width: inherit;
        padding: 0 3.5rem;
    }
}

.social {
    float: right;
}

.post .meta {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.post .meta span {
    margin-right: 0.6rem;
}

.post .meta span .fas {
    margin-right: 4px;
}

.clear {
    clear: both;
}

.post h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #808080;
    font-size: 1rem;
    text-align: right;
    font-style: italic;
}