@import 'bootstrap.min.css';
@import 'fontawesome-all.css';

a, a:hover {
    color: #569cd6
}

.social {
    a {
        font-size: 24px;
        margin-right: 4px;
    }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    
    @import "syntax.scss";
    color: $syntaxFontColor;
    background-color: $syntaxBackgroundColor;

    code {
        color: inherit;
        background-color: inherit;
        font-size: 100%;
        display: block;
        padding: 0;
    }
}

main {
    .posts:first-child {
        margin-top: 1rem;
    }

    .post {
        margin-bottom: 4rem;

        $postSubtitleFontSize: 0.8rem;

        h3 {
            font-size: $postSubtitleFontSize;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #808080;
            font-size: 1rem;
            float: right;
            font-style: italic;
        }

        .meta {
            font-size: $postSubtitleFontSize;
            margin-bottom: 1rem;
        }
        
        .meta span {
            margin-right: 0.6rem;
        }
        
        .meta span .fas {
            margin-right: 4px;
        }
        
        .content {
            margin-top: 0;
        }
    }
}

.clear {
    clear: both;
}

.rounded {
    border-radius: 6px;
}

pre {
    overflow-x: auto;
}

pre code {
    white-space: pre;
}

