@import 'normalize.css';
@import 'fontawesome-all.css';

$largeViewWidth: 48rem;
$headerHeight: 60px;
$text-color: #515151;
$link-color: #268bd2;
$headerFontSize: 1.8rem;

html, body {
    overflow-x: hidden;
}

html {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: $largeViewWidth) {
    html {
        font-size: 20px;
    }
}

body {
    color: $text-color;
    background-color: #fff;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    color: #313131;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: $headerFontSize;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    color: #303030;
}
  
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
  
dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;

    code {
        padding: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }
}

/*
 * Layout
 */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $largeViewWidth){
    .container {
        padding: 0 3.5rem;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    height: $headerHeight;
    max-height: $headerHeight;
    overflow: hidden;

    h1 {
        margin-left: 3rem;
        line-height: $headerHeight;

        a {
            color: $text-color;
        }
    }

    .social {
        display: none;
        float: right;
        line-height: $headerHeight;

        a {
            font-size: $headerFontSize - 0.5rem;
        }
    }
}

@media (min-width: $largeViewWidth) {
    header {
        h1 {
            margin-left: 0;
        }

        .social {
            display: block;
        }
    }
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 14rem;
    overflow-y: auto;
    background-color: #202020;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    nav {
        $navBackground: rgba(255, 255, 255, .1);
        $navBorder: 1px solid $navBackground;

        margin-top: 5rem;
        border-bottom: $navBorder;

        a {
            display: block;
            color: #fff;
            padding: 0.5rem 1.5rem;
            border-top: $navBorder;
            text-decoration: none;
        }

        a.active {
            border-top: none;
            background: $navBackground;
        }
    }
}

#sidebar.active {
    display: block;
}

#hamburger {
    display: block;
    position: fixed;
    left: 1rem;
    top: 0.6rem;
    cursor: pointer;

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
}

#hamburger.active {
    .bar1, .bar2, .bar3 {
        background-color: #fff;
    }
    
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
}

main {
    margin-top: $headerHeight + 20px;

    .post {
        margin-bottom: 4rem;

        $postSubtitleFontSize: 0.8rem;

        h3 {
            font-size: $postSubtitleFontSize;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #808080;
            font-size: 1rem;
            float: right;
            font-style: italic;
        }

        .meta {
            font-size: $postSubtitleFontSize;
            margin-bottom: 1rem;
        }
        
        .meta span {
            margin-right: 0.6rem;
        }
        
        .meta span .fas {
            margin-right: 4px;
        }
        
        .content {
            margin-top: 0;
        }
    }
}

.clear {
    clear: both;
}

pre {
    overflow-x: auto;
}

pre code {
    white-space: pre;
}

.pagination {
    overflow: hidden;
    color: #ccc;
    text-align: center;

    .pagination-item {
        display: inline-block;
        padding: 1rem;
        border: 1px solid #eee;
    }

    a:hover {
        background-color: #f5f5f5;
    }
}
  
@media (min-width: $largeViewWidth) {
    .pagination {
        margin: 3rem 0;

        .pagination-item {
            float: left;
            width: 45%;
        }

        .pagination-item:first-child {
            border-top-left-radius:    4px;
            border-bottom-left-radius: 4px;
        }

        .pagination-item:last-child {
            margin-left: -1px;
            border-top-right-radius:    4px;
            border-bottom-right-radius: 4px;
        }
    }
}