@import 'bootstrap.min.css';
@import 'icomoon.css';
@import '../../ext/highlight.js/scss/vs2015.scss';

body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}

a, a:hover, .page-link, .page-link:hover {
    color: #569cd6
}

.social {
    a {
        font-size: 24px;
        margin-right: 4px;
    }

    a:hover {
        text-decoration: none;
    }
}

code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
    font-size: 1rem;
    overflow-x: auto;

    code {
        font-size: 18px;
        background: #303030;
    }
}

nav {
    h1 {
        margin: 0;
        padding: 0;
        font-size: inherit;
    }
}

main {
    .posts:first-child {
        margin-top: 1rem;
    }

    .post {
        margin-bottom: 4rem;

        $postSubtitleFontSize: 1rem;

        h2 {
            font-weight: 700;
        }

        h3 {
            font-size: $postSubtitleFontSize;
            margin-top: 0;
            margin-bottom: 1rem;
            color: #808080;
            font-size: 1rem;
            float: right;
            font-style: italic;
        }

        .meta {
            font-size: $postSubtitleFontSize;
            margin-bottom: 1rem;
        }
        
        .meta {
            span {
                margin-right: 0.6rem;

                [class^="icon-"] {
                    margin-right: 0.2rem;
                }
            }

            .tags {
                a {
                    margin-right: 0.6rem;
                    text-decoration: none;

                    .icon {
                        margin-right: 0.1rem;
                        color: #212529;
                    }

                    .tagName {
                        margin-right: 0;
                    }
                }

                a:hover .tagName {
                    text-decoration: underline;
                }
            }
        }
        
        .content {
            margin-top: 0;
        }
    }
}

footer {
    font-size: .875rem;

    ul li {
        display: inline-block;
        margin-left: 1rem;

        &:first-child {
            margin-left: 0;
        }

        a {
            font-weight: 600;
            color: #495057;
        }
    }
}

.clear {
    clear: both;
}

.rounded {
    border-radius: 6px;
}

