@foreach (var post in Posts)
{
    <div class="post">
        @(PostHeader(post))
        <div class="content">
            @(post.Excerpt)

            @if (post.HasExcerpt) {
                <a class="readMore" href="@(post.Url)">Read More</a>
            }

        </div>
    </div>
}