name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Deno Setup
        uses: denoland/setup-deno@v2
        with:
          deno-version: "2.5.0"

      - name: Build
        run: |
          git clone https://github.com/smack0007/smack0007.github.io.git -b pages bin
          sudo chown -R $USER:$USER ./bin
          deno task build:ci

      - name: Publish
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          git log -1 --pretty=%B > commit.msg
          cd bin
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "${GITHUB_ACTOR}@bots.github.com"
          git add -A && git commit -F "../commit.msg" || true
          git push "https://x-access-token:${{ secrets.API_KEY }}@github.com/${GITHUB_REPOSITORY}.git" || true
